@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

.nav-link {
  @apply relative font-semibold text-lg mx-5 pb-1 text-slate-700 dark:text-slate-200 transition-colors duration-200;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


/* Base underline (hidden) */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: rgb(37 99 235); /* blue-600 */
  transition: width 200ms ease;
}

/* Hover: grow underline */
.nav-link:hover::after {
  width: 100%;
}

/* Active route: full underline */
.nav-link-active::after {
  width: 100%;
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-wrapper *:focus,
.recharts-surface *:focus {
  outline: none !important;
}

svg:focus {
  outline: none !important;
}

body{
  margin: 0;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}
